<!-- home section -->
<section id="home-section">
<h1>The South Lake Union Bog!</h1>
<h4>Explore SLU and report a new creature on this site.</h4>
<p>Researchers at your local biology lab are exploring and documenting the history of the South Lake Union bog, and the creatures of interest. Our job is to encourage people in the community to explore SLU and submit their findings using our web application.</p>
</section>


<!-- creature section -->
<section id="creature-section" class="container">
</section>  

<section id="creature-form">
<form class="new-form">
  <input type="text" placeholder="name" id="name">
  <input type="text" placeholder="description" id="description">
  <button type="submit">Save</button>
</form>
</section>