<div class="container">
<div class="row">
<div class="col-md-8">
<h1>The South Lake Union Bog!</h1>
<h4>Explore SLU and report a new creature on this site.</h4>
<p>Researchers at your local biology lab are exploring and documenting the history of the South Lake Union bog, and the creatures of interest. Our job is to encourage people in the community to explore SLU and submit their findings using our web application.</p>
</div>
</div>
</div>